@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|Roboto+Condensed:400italic,700italic,700,400);
@import "partials/settings";
@import "partials/foundation";

/*
  MIXINS
 */
@mixin gallery-font($gal-font-color: $iron, $gal-font-weight: normal, $gal-font-size: 1em) {
  font-family: 'Roboto Condensed', sans-serif;
  color: $gal-font-color;
  font-weight: $gal-font-weight;
  font-size: $gal-font-size;
}

@mixin border($direction: 'bottom') {
  @if $direction == 'left' {
    padding-left: 1em;
    border-left: 1px dotted $aluminum;
  } @else {
    padding-bottom: 1em;
    border-bottom: 1px dotted $aluminum;
  }
}

/*
  THEME STYLES
 */

html {
  //TODO: check out what is actually causing funky horizontal scrollbars. I'm sorry, Kelli. :C
  overflow-x: hidden;
}

body {
  @include gallery-font($aluminum, normal, 1em);
}

table {
  thead {
    th {
      text-align: left;
    }
  }
}

h3 {
  @include gallery-font($aluminum, bold, 1em);
}

a {
  @include gallery-font($monsoon, bold, 1em);

  &:hover {
    @include gallery-font($aluminum, bold, 1em);
  }
}

.fade {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
 
  &:hover {
    opacity: 0.5;
  }
}

button.save {
  margin-right: 1em;
}

.different-user {
  color: $aluminum;
  // font-size: .8em;
  // line-height: .8em;
  // @include gallery-font($aluminum, normal, .8em);

}

header {
  padding-top: 1em;
  // background-color: red;

  h1.name {
    // background-color: orange;

    a {
      @include gallery-font($monsoon, bold, 1em);
      text-transform: uppercase;

      &:hover {
        @include gallery-font($aluminum, bold, 1em);
      }
    }
  }

  .panel {
  
    p {
      @include border(left);
      line-height: 1.3em;
      
    }
  }
}

.slider-container {
  @include border();
}

.slick-slider {

  .slick-prev:before, .slick-next:before {
    color: $monsoon;
  }

  .slick-list.draggable {
    max-height: 250px;
  }
}

#login-form {
  h3 {
    margin-top: 2em;
  }
}

/*
  AFFECTS BOTH GALLERY.JADE PHOTO ROWS + PHOTO.JADE SIDE BAR PHOTO COLUMNS
 */

#photos {
  .panel {
    margin-bottom: 1em;

    // change panel background image for each photo
    p {
      height: 160px;
      background-size: cover;
      margin-bottom: 0;
    }
  }

    .large-12.columns .row {
      @include border();
      margin-top: 1em;
      padding-bottom: 0;
    }
}

/*
  SPECIFIC TO PHOTO.JADE (INDIVIDUAL PHOTO DETAILS PAGES)
 */

#main-photo {
  img {
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 1em;
  }
}
