extends ./gallery.jade

block content
  ul
    for photo in photos
      li
        span.author= photo.author
        br
        a(href="/gallery/#{photo._id}/edit")
          button edit
        br
        form(action="/gallery/#{photo._id}?_method=DELETE" method="POST")
          button delete