extends ./gallery.jade

block content
  .row
    .large-12.columns
      h3 Karen Tanigawa
      .row
        .large-8.columns
          .panel
            img(src="/assets/photo1.jpg" alt="Photo 1")
            p Hello. This is a building.
        .large-4.columns.show-for-large-up#photos
          .panel
            p
          .panel
            p
          .panel
            p